*{
	margin:0px;
	padding: 0px;
}
.menu{
	margin-bottom:0px !important;
	border-radius:0px !important;
	z-index: 100;
	width: 100%;
	opacity:0.75;
	position: fixed;
}
.fondo1{
	background-image:url(../img/lentes.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 100px;

}
.frase{
color:white;
height: 100%;
padding-top: 111px;
font-family: 'Open Sans', sans-serif;
font-weight:bold;
}
.enlace1{
	color: #fffcf0 !important;
	font-weight:bold !important;
	font-family: 'Satisfy', cursive;
	font-size: 2.5em;
}
.enlace{
	color: #fffcf0 !important;
	font-weight:bold !important;
	font-family: 'Taviraj', cursive;
}
.fondo2{
	padding: 50px 0px;
}
.cilene{
	width:50%;
	height:300px;
}
.sobremi{
	color:#52616a;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
.sobremi span{
	color:#52616a;
	font-size: 25px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.pd{
	padding:30px 0px
}
.fondo3{
	background-image:url(../img/people.jpeg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom:30px;
}
.sombra3{
	background-color: rgba(42, 29, 31, 0.7);
	background: rgba(42, 29, 31, 0.7);
	height:100%
}
.proyecto{
	font-size:35px;
	padding-bottom:30px;
	color: #512645;
	font-family: 'Taviraj', cursive;
}
.photo{
	width:100%;
	height: 250px;
}

.icono{
	font-size:90px;
	color:white;
}
.icono2{
	font-size:40px;
	color:white;
}
.curso{
	color:#f9cdad;
	font-size:25px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.mt{
	margin:25px 0px !important;
}
.github , .social{
	font-size:45px;
	color:black;
	padding:0px 10px;
}
.github:hover{
	color: black;
}
.social:hover{
	color:black;
}
.habilidades{
	color:white;
	font-size:35px;
	font-family: 'Taviraj', cursive;
}
footer{
	background-color:#87314e;
}
.phone , .email{
	font-size:45px;
	color:white;
}
.contactame{
	font-size:25px;
	color:white;
	padding-top:10px;
	font-family: 'Taviraj', cursive;
	padding-bottom: 5px;
	border-bottom: 4px solid white;

}
.contactame2{
	font-size:20px;
}

/*media query*/
@media only screen and (max-width: 750px) {
	.fondo1{
	padding-top: 190px;
	padding-bottom: 70px;
	}
}