*{
	margin:0px;
	padding: 0px;
}
.menu{
	margin-bottom:0px !important;
	border-radius:0px !important;
	z-index: 100;
	width: 100%;
	opacity:0.75;
	position: fixed;
}
.fondo1{
	background-image:url(../img/pueblo.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height:570px;
}
#bottom{
	    text-decoration: none;
    	color: white;
}
.frase{
	color:white;
	height: 100%;
	padding-top: 120px;
	/*padding-bottom:100px;*/
	background-color: rgba(18, 15, 11, 0.6);
	background: rgba(18, 15, 11, 0.6);
}
.frase2{
	font-family: 'Satisfy', cursive;
	font-weight:bold;
	font-size:70px;
}
.frase22{
	font-family: 'Satisfy', cursive;
	font-weight:bold;
	font-size:35px;

}
.fraseNombre{
	margin: 130px 0px;
}
.enlace1{
	color: #fffcf0 !important;
	font-weight:bold !important;
	font-family: 'Satisfy', cursive;
	font-size: 2.5em;
}
.enlace{
	color:#fffcf0 !important;
	font-weight:bold !important;
	font-family: 'Open Sans', sans-serif;
}
.enlace:hover{
	color: #f9cdad !important;
	font-weight:bold !important;
	font-family: 'Open Sans', sans-serif;
}
.fondo2{
	padding: 50px 0px;
}
.cilene{
	width: 100%;
	height:350px;
}
.sobremi{
	color:#52616a;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.letra{
	color:#F1BE00;
	font-size: 25px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.pd{
	padding:30px 0px
}
.fondo3{
	background-image:url(../img/coder3.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom:30px;
}
.sombra3{
	background-color: rgba(18, 15, 11, 0.6);
	height:100%
}
.proyecto{
	font-size:35px;
	padding-bottom:30px;
	color: #512645;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}
.photo{
	width:100%;
	height: 250px;
}

.icono{
	font-size:90px;
	color:white;
}
.icono2{
	font-size:40px;
	color:white;
}
.curso{
	color:#f9cdad;
	font-size:25px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.mt{
	margin:25px 0px !important;
}
.github , .social{
	font-size:55px;
	color:black;
	padding:0px 10px;
}
.github:hover{
	color: black;
}
.social:hover{
	color:black;
}
.habilidades{
	color:white;
	font-size:35px;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}
footer{
	background-color:#87314e;
	box-sizing:content-box;
}
#phone , .email{
	font-size:45px;
	color:white;
}
#phone:hover{
	font-size:45px;
	color:white !important;
	text-decoration:none !important;
}
.contactame{
	font-size:25px;
	color:white;
	padding-top:10px;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 4px solid white;
	padding-bottom: 7px;
}
.contactame2{
	font-size:20px;
}
.mat{
	margin-top: 25px;
}
.pmt{
	margin-top: 40px;
    margin-bottom: 30px;
}


/*media query*/
@media only screen and (max-width: 750px) {
	.frase{
		padding-top: 186px;
		padding-bottom: 120px;
	}
	.fondo1{
		height:100vh;
	}
	.fraseNombre{
		margin:100px 0px;
	}

}
@media (min-width: 768px) and (max-width: 990px){
	.mat2{
		margin-top: -111px;
	}
	.mat3{
		margin-top: 60px;
	}
}

@media only screen and (max-width: 990px) {
	.dtb{
		margin:30px 0px;
	}

}