*{
	margin:0px;
	padding: 0px;
}
body{
	position: relative;
}

.menu{
	margin-bottom:0px !important;
	border-radius:0px !important;
	z-index: 100;
	width: 100%;
	opacity:0.75;
	position: fixed;
}
#inicio{
	background-image:url(../img/home.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 662px;
}
#bottom{
	    text-decoration: none;
    	color: white;
}
#bottom:hover{
    color:#FF0044;
}
.frase{
	color:white;
	height: 100%;
	padding-top: 120px;
	/*padding-bottom:100px;*/
	/*background-color: rgba(137, 6, 64, 0.8);
	background: rgba(137, 6, 64, 0.8);*/
}
#frase2{
	text-decoration:none;
}
.frase22{
	font-family: 'Niconne', Arial, sans-serif;
	font-size:39px;
	color:#FF0044;

}
.fraseNombre{
	margin: 130px 0px;
}
.enlace1{
	color: #FF0044 !important;
	font-family: 'Niconne', Arial, sans-serif;
	font-size: 2.5em;
}
.enlace{
	color:white !important;
	font-weight:bold !important;
	font-family: 'Open Sans', sans-serif;
    padding-bottom:15px !important;
}
.enlace:hover{
	color: white !important;
	font-weight:bold !important;
	font-family: 'Open Sans', sans-serif;
	/*border-bottom:4px solid #FF0044;*/
}
#sobremi{
	padding:80px 0px;
}
.cilene{
	width: 100%;
	height:350px;
}
.sobremi{
	color:#424242;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
    text-align:justify;
}
.letra{
	color:#FF0044;
	font-size: 20px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.pd{
	padding:30px 0px
}
.fondo3{
	background-image:url(../img/coder3.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom:30px;
}
.sombra3{
	background-color: rgba(18, 15, 11, 0.85);
	height:100%
}
.proyecto{
	font-size:45px;
	padding-bottom:30px;
	color: #FF0044;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
	position:relative;
}
.photo{
	width:100%;
	height: 250px;
}

.icono{
	font-size:90px;
	color:white;
}
.icono2{
	font-size:40px;
	color:white;
}
.curso{
	color:#f9cdad;
	font-size:25px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
}
.mt{
	margin:25px 0px !important;
}
.github , .social{
	font-size:55px;
	color:black;
	padding:0px 10px;
}
.github:hover{
	color: black;
}
.social:hover{
	color:black;
}
.habilidades{
	color:white;
	font-size:45px;
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}

#contactos{
	background-color:#1C1C1C;
	box-sizing:content-box;
	padding:60px 0px;
}
footer{
    background-color: #424242;
    padding:8px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif
}
#phone , .email, #github, #linkendIn, #cv{
	font-size:45px;
	color:white;
	text-decoration:none;
     -webkit-transition: color 0.8s;
}
#phone:hover, .email:hover, #github:hover, #linkendIn:hover, #cv:hover{
	font-size:50px;
	color:#FF0044;
	text-decoration:none;
}
.cv{
	border:2px solid white;
    padding: 10px;
     -webkit-transition: border 0.8s;
}
.cv:hover{
	border:2px solid #FF0044;
    padding: 10px;
}
#phone:hover{
	font-size:45px;
	color:white !important;
	text-decoration:none !important;
}
.contactame{
	font-size:40px;
	color:white;
	padding-top:10px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 30px;
}
.contactame2{
	font-size:20px;
}
.mat{
	margin-top: 25px;
}
.pmt{
	margin-top: 40px;
    margin-bottom: 30px;
}
#codigo{
	right: 12px;
	text-decoration: none;
	bottom: 54px;
}
.borderd{
	border-right:2px dashed white;
}
#demo{
	padding: 5px 13px;
}
/*barras de progreso al 100%*/
#contenedor-barra {
    width: 200px;
    height: 30px;
    border: 2px solid #FF0044;
    border-radius:10px;
}

#barra {
    width: 0;
    height: 100%;

    -webkit-animation: progreso 10s linear forwards;
            animation: progreso 10s linear forwards;

    background: white;
    border-radius:10px;
}
.pbh{
    padding-bottom: 60px;
}

#texto {
    font-size: 18px;
    font-weight: bold;
   /* line-height: 2em;*/
    width: 12.4em;
    height: 30px;
    text-align: center;
    color: #FF0044;
    /*mix-blend-mode: multiply;*/
    border-radius:10px;
}

#texto:after {
    content: '0%';
    -webkit-animation: porcentaje 10s linear forwards;
            animation: porcentaje 10s linear forwards;
}

@-webkit-keyframes progreso {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progreso {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@-webkit-keyframes porcentaje {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    50% {
        content: '50%';
    }
    75% {
        content: '75%';
    }
    100% {
        content: '90%';
    }
}

@keyframes porcentaje {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    50% {
        content: '50%';
    }
    75% {
        content: '75%';
    }
    100% {
        content: '90%';
    }
}
/*barra de progreso al 75% */
#contenedor-barra2 {
    width: 200px;
    height: 30px;
	border-radius:10px;
    border: 2px solid #FF0044;
}

#barra2 {
	border-radius:10px;
    width: 0;
    height: 100%;
    -webkit-animation: progresoDos 10s linear forwards;
            animation: progresoDos 10s linear forwards;
    background: white;
}

#texto2 {
    font-size: 18px;
    font-weight: bold;
   /* line-height: 2em;*/
    width: 12.4em;
    height: 30px;
    text-align: center;
    color: #FF0044;
	border-radius:10px;
    /*mix-blend-mode: multiply;*/
}

#texto2:after {
    content: '0%';
    -webkit-animation: porcentajeDos 10s linear forwards;
            animation: porcentajeDos 10s linear forwards;
}

@-webkit-keyframes progresoDos {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progresoDos {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@-webkit-keyframes porcentajeDos {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    50% {
        content: '50%';
    }
    100% {
        content: '70%';
    }
   /* 100% {
        content: '100%';
    }*/
}

@keyframes porcentajeDos {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    50% {
        content: '50%';
    }
    100% {
        content: '70%';
    }
    /*100% {
        content: '100%';
    }*/
}

/*porcentaje de 50%*/

#contenedor-barra3 {
    width: 200px;
    height: 30px;
	border-radius:10px;
    border: 2px solid #FF0044;
}

#barra3 {
	border-radius:10px;
    width: 0;
    height: 100%;
    -webkit-animation: progresoTres 10s linear forwards;
            animation: progresoTres 10s linear forwards;
    background: white;
}

#texto3 {
    font-size: 18px;
    font-weight: bold;
    width: 12.4em;
    height: 30px;
    margin-left: -40px;
    color: #FF0044;
	border-radius:10px;
}

#texto3:after {
    content: '0%';
    -webkit-animation: porcentajeTres 10s linear forwards;
            animation:  porcentajeTres 10s linear forwards;
}

@-webkit-keyframes progresoTres {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progresoTres {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@-webkit-keyframes  porcentajeTres {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    100% {
        content: '50%';
    }
    /*100% {
        content: '70%';
    }*/
   /* 100% {
        content: '100%';
    }*/
}

@keyframes  porcentajeTres {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    100% {
        content: '50%';
    }
    /*100% {
        content: '70%';
    }*/
    /*100% {
        content: '100%';
    }*/
}
.jq-margin{
	margin-top: 80px;
}
.sql-margin{
	margin-top: 79px;
}
#pasatiempos{
    padding-bottom:90px;
}
/* estilos al nav*/

nav ul li a {
transition: background-color 0.4s ease !important;
}
nav ul li a.active {
background-color:#FF0044 !important;
}


/*media query*/
@media only screen and (max-width: 750px) {
	.frase{
		/*padding-top: 186px;*/
		padding-bottom: 120px;
	}
	.fondo1{
		height:100vh;
	}
	.fraseNombre{
		margin:-70px 0px;
	}
	.enlace:hover{
		color: white!important;
		font-weight:bold !important;
		font-family: 'Open Sans', sans-serif;
		border-bottom:1px solid #272727 ;
	}
	.frase2{
		font-family: 'Satisfy', cursive;
		font-weight:bold;
		font-size:50px;
	}
	.fotos{
		width: 58%;
	}
	.borderd{
		border-bottom:2px dashed white;
		border-right:2px dashed #87314e;
	}
	.espacio{
		padding-bottom: 10px;
	}
	#frase2{
		font-size:68px;
	}
	#frase22{
		font-size:33px;
	}
	.jq-margin, .sql-margin{
		margin-top:0px;
	}
	.contactame, .habilidades, .proyecto{
		font-size:32px;
	}
	.sobremi{
		font-size: 15px;
	}
	.letra{
		font-size:15px;
	}

}


@media (min-width: 454px) and (max-width: 667px){
	.fraseNombre{
		margin:-60px 0px;
	}
}
@media (min-width: 768px) and (max-width: 990px){
	.mat2{
		margin-top: 56px;
	}
	.mat3{
		margin-top: 60px;
	}
	.borderd{
		border-right:2px dashed #87314e;
	}
	.borderd2{
		border-right:2px dashed white;
	}
}

@media only screen and (max-width: 990px) {
	.dtb{
		margin:30px 0px;
	}

}
@media (min-width: 992px) and (max-width: 1048px){
	.sql-margin {
    	margin-top: 23px;
	}
}